<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#0e0e0e">

  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  {% feed_meta %}
</head>

<body>
  <header>
    <div class="component-nav">
      <div class="logo-header">
        <a href="{{ '/' | relative_url }}">
          {% if site.logo %}
            <img src="{{ site.logo | relative_url }}" alt="{{ site.title }}" />
          {% else %}
            <span class="site-title-text">{{ site.title }}</span>
          {% endif %}
        </a>


      <nav class="nav-links">

        <!-- Link statici -->
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/project/' | relative_url }}">Progetto</a>
        <a href="{{ '/articles/' | relative_url }}">Blog</a>

        <!-- Ultimi 3 post -->
        {% assign latest_posts = site.posts | slice: 0, 3 %}
        {% for post in latest_posts %}
          <a class="nav-post" href="{{ post.url | relative_url }}">
            {{ post.nav_title | default: post.title }}
          </a>
        {% endfor %}

        <!-- Bottone CTA -->
        <a class="nav-cta" href="{{ '/contact/' | relative_url }}">
          Contattaci
        </a>

      </nav>
    </div>
  </header>

  <div class="main-content">
    <div class="general-content-wrapper">
      {{ content }}
    </div>
  </div>

  <script>
    function toggleMenu() {
      const bars = document.querySelectorAll('.bar');
      bars.forEach(bar => bar.classList.toggle('active'));
      const nav = document.querySelector('.component-nav');
      nav.classList.toggle('open');
    }
  </script>
</body>
</html>